.container {
  width: 90%;
  margin: 0 auto;
}
table {
  width: 100%;
}
.btn-accion {
  min-width: 40px;
  border-radius: 8px;
  transition: 0.3s;
  color: white !important;
}
.btn-editar {
  background-color: #4caf50 !important;
}
.btn-editar:hover {
  background-color: #388e3c !important;
  transform: scale(1.05);
}
.btn-eliminar {
  background-color: #f44336 !important;
}
.btn-eliminar:hover {
  background-color: #d32f2f !important;
  transform: scale(1.05);
}
.txt-success {
  color: #2e7d32;
  font-weight: bold;
}
.txt-warn {
  color: #c62828;
  font-weight: bold;
}