.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
}

table {
  width: 100%;
}

h2 {
  color: #1e293b;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.btn-eliminar {
  min-width: 48px;
  padding: 0 8px;
}

td.mat-cell:nth-child(3) .mat-icon {
  color: #1976d2; 
}

td.mat-cell:nth-child(4) .mat-icon {
  color: #d32f2f; 
}