<div class="container">
  <div class="title-section">
    <h2>Actualizar Registro de Alerta</h2>
  </div>

  <form [formGroup]="form" (submit)="aceptar()" class="form-grid">
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo de Alerta</mat-label>
      <mat-select formControlName="tipoAlerta">
        @for (tipo of tiposAlerta; track tipo) {
          <mat-option [value]="tipo">{{ tipo }}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="form.get('tipoAlerta')?.hasError('required')">El tipo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Estado de la Alerta</mat-label>
      <mat-select formControlName="estadoAlerta">
        @for (est of estadosAlerta; track est) {
          <mat-option [value]="est">{{ est }}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="form.get('estadoAlerta')?.hasError('required')">El estado es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Observación / Detalles</mat-label>
      <textarea matInput formControlName="observacion" rows="4"></textarea>
      <mat-error *ngIf="form.get('observacion')?.hasError('required')">La observación es obligatoria</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuario Vinculado</mat-label>
      <mat-select formControlName="usuarioId">
        @for (u of listaUsuarios; track u.idUsuario) {
          <mat-option [value]="u.idUsuario">
            {{ u.username }} - DNI: {{ u.dni }}
          </mat-option>
        }
      </mat-select>
      <mat-error *ngIf="form.get('usuarioId')?.hasError('required')">Debe seleccionar un usuario</mat-error>
    </mat-form-field>

    <div class="botones-container full-width">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Guardar Cambios</button>
      <button mat-stroked-button type="button" routerLink="/alertas">Cancelar</button>
    </div>
  </form>
</div>