.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
}

table {
  width: 100%;
}

h2 {
  color: #1e293b;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.header-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}