<div class="container">
  <div style="text-align: center; margin: 2%">
    <h2>Actualizar Rol</h2>
  </div>
  
  <div style="text-align: center; margin: 3%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      
      <mat-form-field class="example-full-width">
        <mat-label>Rol</mat-label>
        <input matInput formControlName="nombreRol" placeholder="Ej. Administrador" />
        <mat-error>
          @if (form.get('nombreRol')?.hasError('required')) {
            Ingrese el nombre del rol!!
          }
          @if (form.get('nombreRol')?.hasError('maxlength')) {
            Máximo 50 caracteres!!
          }
        </mat-error>
      </mat-form-field>
      
      <br />
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcionRol" placeholder="Descripción del rol"></textarea>
        <mat-error>
          @if (form.get('descripcionRol')?.hasError('maxlength')) {
            Máximo 100 caracteres.
          }
        </mat-error>
      </mat-form-field>
      
      <br />
      <br />

      <div class="botones-container">
        <button mat-raised-button color="primary" type="submit">Actualizar</button>
        <button mat-raised-button color="warn" type="button" routerLink="/roles">Cancelar</button>
      </div>

      @if (mensajeError) {
        <div style="margin-top:16px; color:#b00020; font-weight:600;">
          {{ mensajeError }}
        </div>
      }

    </form>
  </div>
</div>