<div class="container">
  <div class="title-section">
    <h2>Crear Nueva Notificación</h2>
  </div>

  <form [formGroup]="form" (submit)="aceptar()" class="form-grid">
    
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contenido / Mensaje de aviso</mat-label>
      <textarea matInput formControlName="mensaje" rows="4" placeholder="Escribe el cuerpo de la notificación..."></textarea>
      <mat-error *ngIf="form.get('mensaje').hasError('required')">El mensaje es obligatorio</mat-error>
      <mat-error *ngIf="form.get('mensaje').hasError('maxlength')">Máximo 250 caracteres</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Categoría / Tipo</mat-label>
      <mat-select formControlName="tipoNotificacion">
        @for (tipo of tiposNotificaciones; track tipo) {
          <mat-option [value]="tipo">{{ tipo }}</mat-option>
        }
      </mat-select>
      <mat-error *ngIf="form.get('tipoNotificacion').hasError('required')">Debe seleccionar una categoría</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Destinatario (Usuario)</mat-label>
      <mat-select formControlName="usuarioId">
        @for (u of listaUsuarios; track u.idUsuario) {
          <mat-option [value]="u.idUsuario">
            {{ u.username }} - DNI: {{ u.dni }}
          </mat-option>
        }
      </mat-select>
      <mat-error *ngIf="form.get('usuarioId').hasError('required')">Debe asignar un destinatario</mat-error>
    </mat-form-field>

    <div class="botones-container full-width">
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Enviar Notificación</button>
      <button mat-stroked-button type="button" routerLink="/notificacion/lista">Cancelar</button>
    </div>
  </form>
</div>